---
import Layout from "../layouts/layout.astro";
const title = "О кафедре";
---

<Layout title={title}>
  <main>
    <section>
      <h2>История кафедры</h2>
      <p>
        Кафедра «Информатика, вычислительная техника и информационная
        безопасность» создана в 2014 году на основе объединения кафедр
        «Вычислительные системы и информационная безопасность» и «Системы
        автоматизированного проектирования».
      </p>
      <p>
        В настоящее время на кафедре работают 14 преподавателей, из них 9 с
        ученой степенью, 3 работают над диссертациями. Возглавляет кафедру
        доктор технических наук, профессор, член корреспондент Международной
        академии информатизации и действительный член Международной академии
        авторов открытий и изобретений Якунин А.Г.
      </p>
    </section>
  </main>
</Layout>
