---
import Layout from "../layouts/layout.astro";
const title = "Главная";
---

<Layout title={title}>
  <main>
    <section>
      <h2>О направлении</h2>
      <p>
        Информатика и вычислительная техника — это область знаний, охватывающая
        современные технологии обработки информации, включая программирование,
        анализ данных и проектирование систем.
      </p>
    </section>
    <section>
      <h2>Почему выбрать ИВТиИБ?</h2>
      <ul>
        <li>Современное оборудование и лаборатории.</li>
        <li>Высококвалифицированный преподавательский состав.</li>
        <li>Широкие перспективы трудоустройства.</li>
      </ul>
    </section>
    <section>
      <h2>Свежие новости</h2>
      <p>
        Следите за обновлениями на нашем <a
          href="https://www.altstu.ru/structure/chair/ivtib/"
          target="_blank">сайте</a
        >, чтобы быть в курсе последних событий и новостей кафедры ИВТиИБ.
      </p>
    </section>
  </main>
</Layout>
