---
const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>{title}</h1>
      <nav>
        <ul>
          <li><a href="/lr2.5/">Главная</a></li>
          <li><a href="/lr2.5/about">О кафедре</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2024 ИВТиИБ. Все права защищены.</p>
    </footer>
  </body>
</html>
